/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
   text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
    background-color: #515151;
}

/* background gradient */
body {
	background: linear-gradient(to right, rgb(255, 245, 245), rgb(225, 245, 255));
	font-family: "Montserrat", sans-serif;
	line-height: 1.6;
}

.jumbotron {
	margin: 0;
	background-color: transparent;
}

h1 {
	text-align: center;
}

.tick {
	list-style-image: url(../images/tick-small.png);
}


/* embedded youtube videos 56.25 ratio*/
.aspect_ratio {
	position: relative;
  	width: 80%;
  	padding-top: 45%;
}

iframe {
	position: absolute;
	top: 0;
	left: 12%;
	width: 100%;
	height: 100%;
}